pipeline/pipelinelookup.json
{
	"name": "pipelinelookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "Select name from hourly",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "HandsonOutput",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": "HOURLY"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HandsonOutput",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": {
								"value": "HOURLY",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Handsoninput",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "@activity('Lookup1').output.firstRow.NAME"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-15T08:33:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}