pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Filetype",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "Var",
						"value": "@replace(pipeline().parameters.TriggerFilename,'Sales.txt','')"
					}
				],
				"typeProperties": {
					"variableName": "file",
					"value": {
						"value": "@replace(pipeline().parameters.TriggerFilename,'Sales.txt','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Filetype",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('file')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Hourly",
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Handsoninput",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@pipeline().parameters.TriggerFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Handsonarchival",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@concat('Hourly/',pipeline().parameters.TriggerFilename)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "Daily",
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Handsoninput",
											"type": "DatasetReference",
											"parameters": {
												"Filename": {
													"value": "@pipeline().parameters.TriggerFilename",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Handsonarchival",
											"type": "DatasetReference",
											"parameters": {
												"Folder": {
													"value": "@concat('Daily/',pipeline().parameters.TriggerFilename)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TriggerFilename": {
				"type": "string",
				"defaultValue": "@triggerBody().fileName"
			}
		},
		"variables": {
			"file": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-15T07:42:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}